<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='registration.css') }}">
    <title>Registration Page</title>
</head>
<body>
    <center><form action="#" method="post">
        <h2>Sign Up</h2>
            <p>
                  <label for="FirstName" class="floatLabel">FirstName</label>
                  <input id="FirstName" name="FirstName" type="text">
              </p>
              <p>
                <label for="LastName" class="floatLabel">LastName</label>
                <input id="LastName" name="LastName" type="text">
            </p>
              <p>
                  <label for="UserName" class="floatLabel">UserName</label>
                  <input id="UserName" name="UserName" type="text">
              </p>
              <p>
                  <label for="password" class="floatLabel">Password</label>
                  <input id="password" name="password" type="password">
              </p>
              <p>
                  <input type="submit" value="Create My Account" id="submit">
              </p>
          </form></center>
</body>
</html>